node_modules
.vscode/
.env
lib/
dist/
tsconfig.tsbuildinfo
.pnpm-store/
*.session.sql

*.auto.tfvars
.envrc
.secrets
terraform/environments/*/terraform.tfvars
terraform/environments/*/.terraform
terraform/environments/*/.terraform.lock.hcl

create_github_secrets.sh
create_github_secrets_staging.sh
.nix-postgres/